<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Refresh this project action set"
            visible="true"
            id="refresh_this_project.actionSet">
            <!--
         <menu
               label="Refresh this project"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         -->
         <action
               class="refresh_this_project.actions.RefreshThisProjectAction"
               definitionId="com.han_zhou.refresh_this_project.command"
               icon="icons/sample.gif"
               id="refresh_this_project.actions.RefreshThisProjectAction"
               label="&amp;Refresh this project"
               menubarPath="file/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Refresh this project">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.han_zhou.refresh_this_project.command"
            name="refresh_this_project_command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.han_zhou.refresh_this_project.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+Ctrl+Z">
      </key>
   </extension>
   
</plugin>
